.btn
{
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;

    display: block;

    min-height: 52px;
    padding: 14px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: $gray-68;
    border: 2px solid $gray-68;
    outline: none;
    background-color: transparent;
}

.btn:hover
{
    color: $white;
    background-color: $gray-68;
}

.btn:active
{
    color: rgba($white, .3);
    background-color: $gray-68;
}

.btn--modal
{
    line-height: 16px;

    color: $white;
    border-color: $downy;
    background-color: $downy;
}

.btn--modal:hover
{
    border-color: $fountain-blue;
    background-color: $fountain-blue;
}

.btn--modal:active
{
    color: rgba($white, .3);
    border-color: $fountain-blue;
    background-color: $fountain-blue;
}
