.choose-form
{
    display: flex;

    cursor: pointer;
}

.choose-form__input
{
    @include hidden-block();
}

.choose-form__custom
{
    position: relative;

    width: 39px;
    height: 39px;

    pointer-events: none;

    border: 2px solid $gray-68;
    border-radius: 50%;

    flex-shrink: 0;

    @media (min-width: $tablet-width)
    {
        width: 52px;
        height: 52px;
    }
}

.choose-form__custom--checkbox
{
    width: 40px;

    border-radius: 0;

    @media (min-width: $tablet-width)
    {
        width: 54px;
    }
}

.choose-form__label
{
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;

    width: 170px;
    margin-top: 9px;
    margin-left: 23px;

    text-transform: none;
    pointer-events: none;

    color: $black;

    flex-shrink: 0;

    @media (min-width: $tablet-width)
    {
        font-size: 19px;

        width: 270px;
        margin-top: 15px;
        margin-left: 29px;
    }
}

.choose-form__label--checkbox
{
    margin-top: 11px;

    @media (min-width: $tablet-width)
    {
        width: 158px;
        margin-top: 15px;
        margin-left: 27px;
    }

    @media (min-width: $desktop-width)
    {
        width: 174px;
    }
}

.choose-form:hover .choose-form__custom
{
    border-color: $downy;
}

.choose-form:active .choose-form__custom
{
    border-color: rgba($gray-68, .3);
}

.choose-form__input:checked ~ .choose-form__custom::before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 16px;
    height: 16px;
    margin: auto;

    content: '';

    border-radius: 50%;
    background-color: $downy;

    @media (min-width: $tablet-width)
    {
        width: 20px;
        height: 21px;
    }
}

.choose-form__input:checked ~ .choose-form__custom--checkbox::before
{
    width: 22px;

    border-radius: 0;
    background-color: transparent;
    background-image: url('../img/icon-tick.svg');
    background-repeat: no-repeat;
    background-size: 22px 16px;

    @media (min-width: $tablet-width)
    {
        width: 33px;
        height: 22px;

        background-size: 33px 22px;
    }
}
