.form-offer
{
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width)
    {
        padding-right: 58px;
        padding-left: 58px;
    }
}

.form-offer__title
{
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;

    margin-bottom: 23px;

    text-align: center;
    text-transform: none;

    color: $gray-68;

    @media (min-width: $tablet-width)
    {
        font-size: 17px;

        margin-bottom: 21px;
    }
}

.form-offer__list
{
    display: flex;

    margin-bottom: 21px;

    justify-content: space-between;
    flex-wrap: wrap;
}

.form-offer__item
{
    margin-bottom: 10px;

    flex-shrink: 0;
}

.form-offer__submit
{
    flex-shrink: 0;
}
