.input-like-btn-form__input
{
    @include hidden-block();
}

.input-like-btn-form__custom
{
    display: flex;

    width: 82px;
    height: 52px;

    cursor: pointer;

    border: 2px solid rgba($gray-68, .1);

    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width)
    {
        width: 112px;
    }
}

.input-like-btn-form__custom:hover
{
    border-color: rgba($gray-68, .3);
}

.input-like-btn-form__label
{
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 16px;

    text-transform: none;
    pointer-events: none;

    color: $gray-68;
}

.input-like-btn-form__input:checked ~ .input-like-btn-form__custom,
.input-like-btn-form__custom:active
{
    cursor: auto;

    border-color: $downy;
}
