.nav-btn
{
    display: flex;

    height: 52px;
    padding: 0;

    cursor: pointer;

    border: 1px solid $gray-236;
    outline: none;
    background-color: transparent;

    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width)
    {
        padding-right: 8px;

        border: none;
    }

    @media (min-width: $desktop-width)
    {
        padding-right: 0;

        border: none;
    }
}

.nav-btn__icon
{
    flex-shrink: 0;
    fill: $black;
}

.nav-btn:hover .nav-btn__icon
{
    fill: rgba($black, .6);
}

.nav-btn:active .nav-btn__icon
{
    fill: rgba($black, .3);
}
